.green-bg {
    background-color: #409789;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.app-container {
    background-color: rgb(0, 183, 255);
    height: calc(100vh - 32px);
    margin: 16px auto;
    overflow: hidden;
    position: relative;
}

.left-col {
    background-color: azure;
}

.right-col {
    background-color: aliceblue;

}

.profile-left-col,
.profile-right-col {
    display: flex;
    align-items: center;
}

.your-profile,
.contact-chat,
.text-chat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    padding: .5rem;
    background-color: #EAEAEA;
}

.contacts-container {
    overflow: auto;
}

.your-profile img, .contact-chat img  {
    width: 50px;
    border-radius: 2rem;
}

.profile-icons {
    display: flex;

}

.profile-icons .profile-icon {
    font-size: 1.2rem;
    padding: 0.5rem;
    color: #B1B1B1;
}

.activate-notifications {
    display: flex;
    background-color: #8EDAFC;
    align-items: center;
    padding: .5rem;
}

.activate-notifications i {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    color: #8EDAFC;
    padding: .2rem;
    width: 45px;
    height: 45px;
    margin-right: 1rem;
}

.activate-notifications h6 {
    color: rgb(46, 46, 46);
    font-size: 1rem;
    margin: 0;
}
.activate-notifications p {
    color: #707070;
    font-size: .8rem;
    margin: 0;
    text-decoration: underline;
}

.contacts-container img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

ul {
    padding-inline-start: 0px;
}

.chat-content {
    background-image: url('../img/mine.jpg');
    height: 100%;
}

.message-box {
    display: flex;
    margin: 1rem;
}

.sent {
    justify-content: flex-end;
}

.received {
    justify-content: flex-start;

}

.msg-sent {
    background-color: #D5F9BA;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    min-width: 30%;
    /* max-width: 100%; */
    position: relative;
}

.msg-received {
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    min-width: 30%;
    /* max-width: 100%; */
    position: relative;
}

.msg-time {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    font-size: 0.6rem;
}
.text-chat {
    padding: 0.5rem;
}

.input-text {
    margin: 0.5rem;
}

.chat {
    padding: 1rem
}

.chat p {
    color: #B1B1B1;
}

.chat:hover, .chat:active {
    background-color: #E9EBEB;
}

