<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Document</title>
</head>
<body>
    <div class="green-bg"></div>
    <div id="app">
        <div class="app-container container overflow-hidden">
            <!-- <div class="container"> -->
                <div class="row h-100">                
                    <div class="col col-4 left-col d-flex flex-column h-100">

                        <div class="your-profile">
                                <div class="profile-left-col">
                                    <img src="../img/avatar_io.jpg" alt="Your profile image">
                                    <h5>Sofia</h5>
                                </div>
                            <div class="profile-icons">
                                <div class="profile-icon"><i class="fa-solid fa-circle-notch"></i></div>
                                <div class="profile-icon"><i class="fa-solid fa-message"></i></div>
                                <div class="profile-icon"><i class="fa-solid fa-ellipsis-vertical"></i></div>
                            </div>
                        </div>
                        
                        <div class="activate-notifications">
                            <i class="fa-solid fa-bell-slash"></i>
                            <div class="notifications-text d-flex flex-column">
                                <h5>Ricevi notifiche di nuovi messaggi</h5>
                                <p>Attiva notifiche desktop</p>
                            </div>
                        </div>
                        
                        <input type="text" placeholder="Cerca o inizia una nuova chat" class="w-100">

                        <div class="contacts-container d-flex flex-row">
                            <ul class="w-100">
                                <li v-for="contact in contacts" class="d-flex justify-content-between" @click="setActiveUser(contact)">
                                    <div class="d-flex">
                                        <img :src="`../img/avatar${contact.avatar}.jpg`" alt="Michele's profile image">
                                        <div class="notifications-text d-flex flex-column">
                                            <h5>{{contact.name}}</h5>
                                            <div class="">Ultimo messaggio inviato</div>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="time">12:00</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col col-8 right-col h-100 d-flex flex-column">
                        <div class="contact-chat">
                            <div class="profile-right-col">
                                <img :src="`../img/avatar${activeUser.avatar}.jpg`" alt="Profile image">
                                <h5>{{activeUser.name}}</h5>
                            </div>
                            <div class="profile-icons">
                                <div class="profile-icon"><i class="fa-solid fa-circle-notch"></i></div>
                                <div class="profile-icon"><i class="fa-solid fa-paperclip"></i></div>
                                <div class="profile-icon"><i class="fa-solid fa-ellipsis-vertical"></i></div>
                            </div>
                        </div>
                        <div class="chat-content d-flex flex-column overflow-auto">
                            <div v-for="msg in activeUser.messages" class="message-box" :class="[msg.status === 'sent' ? 'sent' : 'received']">

                                <div :class="[msg.status === 'sent' ? 'msg-sent' : 'msg-received', message]">{{msg.message}}
                                <div class="msg-time">12:00</div>    
                                </div>                                
                            </div>
                        </div>
                        <div class="text-chat">
                            <div class="profile-right-col">
                                <i class="fa-regular fa-face-smile fs-5"></i>
                            </div>
                        <input type="text" placeholder="Scrivi un messaggio" class="w-100 input-text">

                        <i class="fa-solid fa-microphone fs-5"></i>
                        </div>
                    </div>
                </div>

            <!-- </div> -->
        </div>
    </div>

    <script src="js/main.js"></script>
</body>
</html>